/.metadata/

/oop_alina/.settings/
/project_2_loops/.settings/
/student_class/.settings/

/oop_alina/.classpath/
/project_2_loops/.classpath/
/student_class/.classpath/

/oop_alina/bin/
/project_2_loops/bin/
/student_class/bin/